@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .nav {
    position: relative;
}

header .nav .nav-items a {
    position: relative;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .nav .nav-items a:before {
    content: '';
    position: absolute;
    background: #ffffff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .nav .nav-items a:hover:before {
    width: 100%;
}

section {
    padding: 100px 200px;
}

.variety {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
}

.variety .content {
    z-index: 888;
    color: #a80606;
    width: 90%;
    margin-top: 50px;
    display: none;
}

.variety:before {
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.variety .content h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 55px;
    margin-bottom: 20px;
}

.variety .content h1 span {
    font-size: 100px;
    line-height: 200px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(/assets/images/back.png);
    -webkit-background-clip: text;
    animation: back 20s linear infinite;
    margin-bottom: 20px;
}

.variety .content p {
    color: #ffffff;
    margin-top: 25px;
    font-size: 1.2em;
    text-align: justify;
}

.variety video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-nav {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-nav .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-nav .nav-btn:not(:last-child) {
    margin-right: 20px;

}

.slider-nav .nav-btn.active {
    background: #1465a7;
}

.slider-nav .nav-btn:hover {
    transform: scale(1.2);
}

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

.variety .content.active {
    display: block;
}

@media (max-width: 1040px) {
    header {
        padding: 15px 20px;
    }

    section {
        padding: 100px 20px;
    }

    header .nav {
        display: none;
    }

    header .nav.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .nav .nav-items a {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .nav .nav-items a:before {
        background: #222;
        height: 5px;
    }

    header .nav.active .nav-items {
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 /20%);
    }

    .menu-btn {
        background: url(/assets/images/bars.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active {
        z-index: 999;
        background: url(assets/images/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }

}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.bg {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent), url(/assets/images/bg.png);
    background-size: cover;
    position: relative;
    background-position: center center;
    padding: 0px 8%;
}

.bg .text-box {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.bg .text-box h1 {
    font-size: 50px;
}

.bg .text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
}

.hero-btn:hover {
    border: 1px solid #ece7e6;
    background: #cd0909;
    transition: 1s;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis:50%;
    text-align: justify;
    margin-left: 55px;
}
.col h1{
    font-size: 100px;
    line-height: 100px;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    background: url(/assets/images/back.png);
    -webkit-background-clip: text;
    animation: back 20s linear infinite;
    margin-bottom: 20px;
}
